{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>aRHAM fARID</h1>

            <p>You can access the admin interface <a href="{% url 'wagtailadmin_home' %}">here</a> (make sure you have run "./manage.py createsuperuser" in the console first).</p>

            <p>If you haven't already given the documentation a read, head over to <a href="http://docs.wagtail.io/">http://docs.wagtail.io</a> to start building on Wagtail</p>
        </div>
    </div>
{% endblock %}
